body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-image: url('img/5_background/layers/air.png');
    background-position: center;
}

main{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-image{
    height: 100vh;
    width: 100vw;
}

.keyboard-control-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 720px;
    background-color: #A0220A;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.keyboard-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.keyboard-icons img {
    height: 20px;
    width: auto;
    cursor: pointer;

}

.d-none {
    display: none;
}

.audio-icon-on { 
    background-image: url(./img/10_keyboard_icons/audio-on.png);
    height: 20px;
    width: 20px;
    background-repeat: round;
}

.audio-icon-off {
    background-image: url(./img/10_keyboard_icons/audio-off.png);
    background-repeat: round;
    height: 20px;
    width: 20px;
}