body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    background-image: url('../img/5_background/layers/air.png');
    background-position: center;
    display: block;
}

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-image {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.screen {
    height: 480px;
    width: 720px;
}

.screen img {
    height: 100%;
    width: 100%;
}

#end-screen {
    background-color: black;
}

.rotate-screen {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    font-size: 47px;
    letter-spacing: 4px;
    font-family: 'Rye';
    font-weight: bold;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    color: white;
    text-shadow:
        1px 1px 12px black,
        1px -1px 12px black,
        -1px 1px 12px black,
        -1px -1px 12px black;
    z-index: 0;
    background-image: url(../img/11_page_background/rotate-pic.png);
    background-repeat: round;
}

/* BUTTON-STYLING */
.start-button-container {
    position: absolute;
    top: 0;
}

.restart-button-container {
    position: absolute;
    bottom: 120px;
}

.btn {
    padding: 20px;
    font-weight: bold;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #A0220A;
    /* background: #A0220A; */
    letter-spacing: 2px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    box-shadow: 0 5px 15px #A0220A;
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #A0220A, #ff7300, #ff0000, #fffb00, #ff0000, orange, yellow);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active:after {
    background: transparent;
}

.btn:active {
    color: white;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, orange, yellow);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


/* KEYBOARD-CONTROL-CONTAINER */
.keyboard-control-container,
.keyboard-control-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #A0220A;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.keyboard-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.keyboard-icons img {
    height: 20px;
    width: auto;
    cursor: pointer;
}

.audio-icon-on {
    background-image: url('../img/10_keyboard_icons/audio-on.png');
    height: 20px;
    width: 20px;
    background-repeat: round;
    cursor: pointer;
}

.audio-icon-off {
    background-image: url('../img/10_keyboard_icons/audio-off.png');
    background-repeat: round;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.fullscreen-height {
    height: calc(100vh - 50px);
}

.fullscreen-width {
    width: 100vw;
}

.d-none {
    display: none;
}

.legal-container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #354F0D;
}

.legal-info {
    text-decoration: none;
    cursor: pointer;
}

.legal-info:visited {
    color: #354F0D;
}

.legal-info:hover {
    color: white;
}

/* MEDIA-QUERIES */

@media only screen and (max-width: 1024px) {
    main {
        width: 100%;
        height: 100vh;
    }

    canvas,
    .screen {
        width: 100%;
        height: calc(100vh - 50px);
    }
}

@media only screen and (max-height: 470px) {
    main {
        width: 100%;
        height: 100vh;
    }

    canvas,
    .screen {
        width: 100%;
        height: calc(100vh - 50px);
    }
}

@media screen and (max-width: 1024px) {
    .keyboard-control-container {
        display: none;
    }

    .keyboard-control-container-mobile {
        display: flex;
    }

    .right-panel,
    .left-panel {
        display: flex;
        align-items: center;
    }

    .right-panel {
        margin-right: auto;
        margin-left: 10px;
    }

    .left-panel {
        margin-left: auto;
        margin-right: 10px;
    }

    .right-panel img,
    .left-panel img {
        height: 16px;
        width: auto;
        padding: 5px;
        border: 1px solid yellow;
        border-radius: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .restart-button-container {
        bottom: 100px;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .rotate-screen {
        display: flex;
        z-index: 10;
    }

}

@media screen and (max-height: 426px) {
    .btn {
        padding: 10px;
        font-size: 16px;
    }

    .restart-button-container {
        bottom: 90px;
    }
}